.Home {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.above-the-fold {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.7)),url(../img/title-background-grayscale.jpg);
  background-size: cover;
  overflow: hidden;
}
